{{#if todos.length}}
  <ul>
    {{#each todos as |todo index|}}
      <li style="list-style: none">
        <span>{{add-one index}}</span>
        {{#if todo.edit}}
          <input
            value={{todo.title}}
            onkeypress={{action 'handleValue'}}
          />
        {{else}}
          <input
            type='checkbox'
            checked={{todo.done}}
            onchange={{action 'complete' todo}}
          />
          <span class="{{if todo.done 'done'}}">{{todo.title}}</span>
          <button {{action 'deleteTodo' todo.id}}>&#215;</button>
          <button {{action 'editTodo' todo.id todo.title}}>&#101;</button>
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <div style="margin-top: 20px; color: #2B81AF">Not found</div>
{{/if}}
