<div style="display: flex; align-items: center; flex-direction: column">
  {{add-todo addTodo='addTodo'}}
  {{todo-list
    todos=todos
    completed='completed'
    deleteTodo='deleteTodo'
    editTodo='editTodo'
    editTodoTitle='editTodoTitle'
  }}
  {{todos-count
    all=todos.length
    active=active.length
    completed=completed.length
  }}
</div>